<h1> Edit Review</h1>

<%= simple_form_for([@clip, @comment]) do |f|  %>

	<div id="rating-form">
		<%= f.input :title %>
	</div>
	
	<%= f.input :comment %>
	<%= f.button :submit, :class => "btn-custom2" %>

<% end %>